.cabecalho{
    width:440px ;
    height: 19px ;
    background-color: #365C52 ;
}
.primeira_secao{
    width:440px ;
    height: 291px ;
    background-color: greenyellow ;
}
moldura{
    width: 253px;
    height: 251px ;
    background-color: green ;
}
.cabecalho{
    width:440px ;
    height: 24px ;
    background-color: #365C52 ;
}
.primeira_secao{
    width:440px ;
    height: 441px ;
    background-color: greenyellow ;
}
moldura{
    width: 334px;
    height: 334px ;
    background-color: green ;
}