.cabecalho{
    width:440px ;
    height: 19px ;
    background-color: #365C52 ;
}
.primeiraseção{
    width:440px ;
    height: 291px ;
    background-color: green ;
}
moldura{
    width: 253px;
    height: 251px ;
    background-color: green ;
}